* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #0a0e31;
	--secondary-color: #5d68e2;
	--input-bg: #383e69;
	--radius: 15px;
	--bold: 700;
	--font: 'Inter', sans-serif;
}

/* Helper classes */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-vertical {
	display: flex;
	align-items: center;
}

/* Main css */
html,
body {
	height: 600px;
	width: 320px;
	overflow: hidden;
	box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
	outline: none;
	border: none;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
}

.extension-container {
	height: 100%;
	width: 100%;
	background: var(--primary-color);
	color: #ffffff;
}
.cruxe-container {
	height: 50px;
	border-radius: 0;
	background-color: var(--secondary-color);
	box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.25);
}

.cruxe-container h1 {
	font-weight: var(--bold);
}
.title-container {
	height: 60px;
}
.title-container h2 {
	font-size: 1.1rem;
}
.form-wrapper {
	margin: auto;
	width: 85%;
}
.text-field {
	padding: 0.8rem;
	font: var(--font);
	resize: none;
	border: 0;
	background: var(--input-bg);
	box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.25);
	border-radius: var(--radius);
	margin: auto;
	width: 100%;
	height: 10rem;
	color: white;
	font-size: 0.9rem;
}
.text-field:focus {
	outline: none;
}
.text-field::placeholder {
	font-family: var(--font);
	text-align: center;
	font-size: 1rem;
}
.text-field::-webkit-scrollbar {
	display: none;
}
.img-container {
	height: 25px;
	width: 140px;
}

.img-container img {
	height: 100%;
	width: 100%;
}

/* Slider Css */
.field-title {
	position: absolute;
	top: -10px;
	left: 8px;
	transform: translateY(-50%);
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: 0.65rem;
	pointer-events: none;
	user-select: none;
	font-family: var(--font);
}

.range__slider {
	position: relative;
	width: 85%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	margin: 30px auto;
	margin-bottom: 20px;
}
.range__slider::before,
.range__slider::after {
	position: absolute;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
}
.range__slider::before {
	content: attr(data-min);
	left: 10px;
}
.range__slider::after {
	content: attr(data-max);
	right: 10px;
}
.range__slider .length__title::after {
	content: attr(data-length);
	position: absolute;
	padding-left: 5px;
	font-variant-numeric: tabular-nums;
	color: #fff;
}

#slider {
	-webkit-appearance: none;
	width: calc(100% - (100px));
	height: 2px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.314);
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
	background: #d4d4d4;
	transform: scale(1.2);
}
#slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
	background: #d4d4d4;
}
.btn {
	user-select: none;
	position: relative;
	width: 40%;
	height: 35px;
	margin: 10px 0;
	border-radius: 8px;
	color: #fff;
	border: none;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 150ms ease;
	margin-top: 20px;
}
.btn:active {
	transform: translateY(-3%);
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}
.summery-container {
	width: 85%;
	overflow: auto;
}
.summery-container p {
	text-align: center;
	margin-top: 50px;
	opacity: 0.6;
	font-size: 1rem;
}
.btn-container {
	display: grid;
	place-items: center;
}
.loader-container {
	/* border: 1px solid red; */
	display: grid;
	place-items: center;
}
.loader {
	--background: linear-gradient(135deg, #23c4f8, #275efe);
	--shadow: rgba(39, 94, 254, 0.28);
	--text: #6c7486;
	--page: rgba(255, 255, 255, 0.36);
	--page-fold: rgba(255, 255, 255, 0.52);
	--duration: 3s;
	width: 200px;
	height: 140px;
	position: relative;
}
.loader:before,
.loader:after {
	--r: -6deg;
	content: '';
	position: absolute;
	bottom: 8px;
	width: 120px;
	top: 80%;
	box-shadow: 0 16px 12px var(--shadow);
	transform: rotate(var(--r));
}
.loader:before {
	left: 4px;
}
.loader:after {
	--r: 6deg;
	right: 4px;
}
.loader div {
	width: 100%;
	height: 100%;
	border-radius: 13px;
	position: relative;
	z-index: 1;
	perspective: 600px;
	box-shadow: 0 4px 6px var(--shadow);
	background-image: var(--background);
}
.loader div ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}
.loader div ul li {
	--r: 180deg;
	--o: 0;
	--c: var(--page);
	position: absolute;
	top: 10px;
	left: 10px;
	transform-origin: 100% 50%;
	color: var(--c);
	opacity: var(--o);
	transform: rotateY(var(--r));
	-webkit-animation: var(--duration) ease infinite;
	animation: var(--duration) ease infinite;
}
.loader div ul li:nth-child(2) {
	--c: var(--page-fold);
	-webkit-animation-name: page-2;
	animation-name: page-2;
}
.loader div ul li:nth-child(3) {
	--c: var(--page-fold);
	-webkit-animation-name: page-3;
	animation-name: page-3;
}
.loader div ul li:nth-child(4) {
	--c: var(--page-fold);
	-webkit-animation-name: page-4;
	animation-name: page-4;
}
.loader div ul li:nth-child(5) {
	--c: var(--page-fold);
	-webkit-animation-name: page-5;
	animation-name: page-5;
}
.loader div ul li svg {
	width: 90px;
	height: 120px;
	display: block;
}
.loader div ul li:first-child {
	--r: 0deg;
	--o: 1;
}
.loader div ul li:last-child {
	--o: 1;
}
.loader span {
	display: block;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 20px;
	text-align: center;
	color: var(--text);
}

@-webkit-keyframes page-2 {
	0% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	35%,
	100% {
		opacity: 0;
	}
	50%,
	100% {
		transform: rotateY(0deg);
	}
}

@keyframes page-2 {
	0% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	35%,
	100% {
		opacity: 0;
	}
	50%,
	100% {
		transform: rotateY(0deg);
	}
}
@-webkit-keyframes page-3 {
	15% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	35% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0;
	}
	65%,
	100% {
		transform: rotateY(0deg);
	}
}
@keyframes page-3 {
	15% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	35% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0;
	}
	65%,
	100% {
		transform: rotateY(0deg);
	}
}
@-webkit-keyframes page-4 {
	30% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	65%,
	100% {
		opacity: 0;
	}
	80%,
	100% {
		transform: rotateY(0deg);
	}
}
@keyframes page-4 {
	30% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	65%,
	100% {
		opacity: 0;
	}
	80%,
	100% {
		transform: rotateY(0deg);
	}
}
@-webkit-keyframes page-5 {
	45% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	65% {
		opacity: 1;
	}
	80%,
	100% {
		opacity: 0;
	}
	95%,
	100% {
		transform: rotateY(0deg);
	}
}
@keyframes page-5 {
	45% {
		transform: rotateY(180deg);
		opacity: 0;
	}
	65% {
		opacity: 1;
	}
	80%,
	100% {
		opacity: 0;
	}
	95%,
	100% {
		transform: rotateY(0deg);
	}
}
