* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #0a0e31;
	--secondary-color: #5d68e2;
	--input-bg: #383e69;
	--radius: 15px;
	--bold: 700;
	--semibold: 600;
	--font: 'Inter', sans-serif;
}

/* Helper classes */
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-vertical {
	display: flex;
	align-items: center;
}
.flex-center-horizontal {
	display: flex;
	justify-content: center;
}

/* Main css */
html,
body {
	height: 580px;
	width: 340px;
	overflow: hidden;
	box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
	outline: none;
	border: none;
	font-family: var(--font);
	-webkit-font-smoothing: antialiased;
}

.extension-container {
	position: relative;
	height: 100%;
	width: 100%;
	background: var(--primary-color);
	color: #ffffff;
}
.cruxe-container {
	height: 40px;
	border-radius: 0;
	background-color: var(--secondary-color);
	box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.25);
}
.img-container {
	width: 105px;
}

.img-container img {
	width: 20%;
}
.img-container h3 {
	padding-left: 2px;
}
.cruxe-container h1 {
	font-weight: var(--semibold);
}
.title-container {
	height: 70px;
	padding-top: 1rem;
	text-align: center;
}
.title-container h2 {
	font-size: 1rem;
}
.form-wrapper {
	margin: auto;
	width: 95%;
}
.text-field {
	padding: 0.9rem;
	font: var(--font);
	resize: none;
	border: 0;
	background: var(--input-bg);
	box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.25);
	border-radius: var(--radius);
	margin: auto;
	width: 100%;
	height: 10rem;
	color: white;
	font-size: 0.85rem;
	text-align: justify;
}
.text-field:focus {
	outline: none;
}
.text-field::placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--font);
	text-align: center;
	color: white;
	opacity: 0.6;
	font-size: 0.9rem;
}
.text-field::-webkit-scrollbar {
	display: none;
}

/* Slider Css */
.field-title {
	position: absolute;
	top: -10px;
	left: 8px;
	transform: translateY(-50%);
	font-weight: 600;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-size: 0.65rem;
	pointer-events: none;
	user-select: none;
	font-family: var(--font);
}

.range__slider {
	position: relative;
	width: 95%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	margin: 30px auto;
	margin-bottom: 20px;
}
.range__slider::before,
.range__slider::after {
	position: absolute;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
}
.range__slider::before {
	content: attr(data-min);
	left: 10px;
}
.range__slider::after {
	content: attr(data-max);
	right: 10px;
}
.range__slider .length__title::after {
	content: attr(data-length);
	position: absolute;
	padding-left: 5px;
	font-variant-numeric: tabular-nums;
	color: #fff;
}

#slider {
	-webkit-appearance: none;
	width: calc(100% - (100px));
	height: 2px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.314);
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}
#slider::-webkit-slider-thumb:hover {
	background: #d4d4d4;
	transform: scale(1.2);
}
#slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: white;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
}
#slider::-moz-range-thumb:hover {
	background: #d4d4d4;
}
.btn {
	user-select: none;
	position: relative;
	width: 40%;
	height: 35px;
	margin: 10px 0;
	border-radius: 8px;
	color: #fff;
	border: none;
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 150ms ease;
	margin-top: 20px;
}
.btn:active {
	transform: translateY(-3%);
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
}
.summery-container {
	width: 95%;
	text-align: justify;
	height: 10rem;
	overflow: auto;
}
.copyText {
	position: absolute;
	right: 1.2rem;
	top: 63.5%;
	background: none;
	border: none;
	cursor: pointer;
}
.fa-copy {
	font-size: 1rem;
	color: white;
	opacity: 0.6;
}
.summery-container p {
	text-align: center;
	margin-top: 50px;
	opacity: 0.6;
	font-size: 1rem;
}
.btn-container {
	display: grid;
	place-items: center;
}
.loader-container {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	visibility: hidden;
}

.spinner {
	-webkit-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite;
}
.summary {
	word-spacing: 0px;
	padding-top: 15px;
	letter-spacing: none;
}

@-webkit-keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}
.path {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	-webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
	0% {
		stroke: #bdbdbd;
	}

	100% {
		stroke: #b3b2b2;
	}
}

@keyframes colors {
	0% {
		stroke: #acacac;
	}

	100% {
		stroke: #acacac;
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}
